body[data-page="buurtweer"] .weather-big-temp {
  letter-spacing: 0 !important;
  font-variant-numeric: tabular-nums !important;
  font-feature-settings: "tnum" 1;
  margin-left: 0 !important;
}

@media (max-width: 430px) {
  body[data-page="buurtweer"] .weather-big-temp {
    letter-spacing: .004em !important;
  }
}